<div class="modal-header">
    <h3 class="text-warning">Thiết lập
        <a ng-click="settingsModal.close()" class="pull-right close">×</a>
    </h3>
</div>

<div class="modal-body">
    <form role="form" name="player_settings">
        <div class="form-group row" ng-if="['admin'].includes(authUser.role)">
            <label class="control-label col-sm-4">Khách hàng</label>
            <div class="col-sm-8">
                <!--
                                <div ng-dropdown-multiselect="false"
                                     options="companies"
                                     selected-model="ngDropdown.selectedLabels"
                                     events="ngDropdown.events"
                                     translation-texts="ngDropdown.customTexts"
                                     extra-settings="ngDropdown.extraSettings"
                                     ng-change="assignCompany(selectedCompany)"
                                     >
                                </div> -->

                <select ng-model="newPlayer.company" ng-change="assignCompany(selectedCompany)"
                        ng-options="company._id as company.name for company in companies" class="form-control">
                    <option value="">--</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Địa chỉ</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <input ng-model="newPlayer.location" class="form-control" placeholder="Địa chỉ"/>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="updateLocation()" class="btn btn-primary btn-sm pull-right w-100">
                            <i class="fas fa-save"></i> Lưu địa chỉ
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="control-label col-sm-4">Giá tiền</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                {{newPlayer.packages.name}}
                            </span>
                            <input ng-model="newPlayer.packages.price" class="form-control" placeholder="Giá tiền"/>
                            <span class="input-group-addon">
                                {{newPlayer.packages.unit || 'VNĐ'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="updatePrice()" class="btn btn-primary btn-sm pull-right w-100">
                            <i class="far fa-money-bill-alt"></i> Lưu giá tiền
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="control-label col-sm-4">Chiết khấu</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input ng-model="newPlayer.discount" class="form-control" placeholder="Chiết khấu"/>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="updateDiscount()" class="btn btn-primary btn-sm pull-right w-100">
                            <i class="fas fa-save"></i> Lưu chiết khấu
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Thiết lập wifi</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <select ng-model="objWifi.ssid" ng-change="selectWifi()"
                                ng-options="item for item in listWifi" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="scanWifi()" class="btn btn-primary btn-sm pull-right w-100">
                            <div ng-if="loadingCanwifi == true" class="spinner"></div>
                            <i ng-if="loadingCanwifi != true" class="fas fa-wifi"></i> 
                            Scan WIFI
                        </button>
                    </div>
                </div>

                <div class="row mt-1" ng-if="enableWifi">
                    <div class="col-sm-8">
                        <input type="password" class="form-control" ng-model="objWifi.psk" placeholder="Mật khẩu">
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="setWifi()" class="btn btn-primary btn-sm pull-right w-100">
                            <i class="fas fa-cog"></i> SET WIFI
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <small ng-if="!!msgWifi" class="text-success">{{msgWifi}}</small>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Thiết lập mode màn hình</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" ng-model="newPlayer.hdmi_drive" placeholder="Hdmi drive" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" min="0" ng-model="newPlayer.hdmi_mode" placeholder="Hdmi mode" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" min="0" ng-model="newPlayer.cvt_width" placeholder="CVT width" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-4">
                        <input type="text" ng-model="newPlayer.cvt_height" placeholder="CVT height" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" min="0" ng-model="newPlayer.cvt_framerate" placeholder="CVT framerate" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" min="0" ng-model="newPlayer.cvt_aspect" placeholder="CVT aspect" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-4">
                        <input type="text" ng-model="newPlayer.cvt_margins" placeholder="CVT margins" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" min="0" ng-model="newPlayer.cvt_interlace" placeholder="CVT interlace" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" min="0" ng-model="newPlayer.cvt_rb" placeholder="CVT rb" 
                            class="form-control" ng-change='clearMsUpdate()'/>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-sm-4 col-sm-offset-8">
                        <button ng-click="setModeDisplay()" class="btn btn-primary btn-sm pull-right w-100">
                            <i class="fas fa-cog"></i> Cài đặt
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Nhóm được chọn</label>
            <div class="col-sm-8">
                <select ng-model="newPlayer.group" ng-change="assignGroup()"
                        ng-options="group._id as group.name for group in groups" class="form-control">
                    <option value="">--</option>
                </select>
            </div>
        </div>

        <div ng-show="playerLabels.length" class="form-group row">
            <label class="control-label col-sm-4"> Chọn nhãn</label>

            <div ng-if="playerLabels" class="col-sm-8">
                <div ng-dropdown-multiselect=""
                     options="playerLabels"
                     selected-model="ngDropdown.selectedLabels"
                     events="ngDropdown.events"
                     translation-texts="ngDropdown.customTexts"
                     extra-settings="ngDropdown.extraSettings"
                     checkboxes="true">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="form-group row">
        <div class="col-sm-10 text-center">
            <span
                ng-class="updateMsg.type === 'error' ? 'text-danger' : 'text-success'" 
                ng-if="updateMsg" 
            >
                {{updateMsg.msg}}
            </span>
        </div>
        <div class="col-sm-2">
            <button ng-click="deregister()" class="btn btn-danger btn-sm pull-right">Xóa thiết bị</button>
        </div>
    </div>
</div>

