<div class="modal-header">
    <h4>
        <span class="text-info">
            Theo dõi thiết bị '{{dataStream.playerName}}'
        </span>

        <span class="pull-right btn-group">
            <a ng-click="modalStream.dismiss()" class="pull-right close">×</a>
        </span>
    </h4>
</div>

<div class="modal-body">
    <iframe src="{{dataStream.src}}" allow="geolocation; microphone; camera" style="width: 675px; height: 580px"></iframe>

    <small class="text-danger">Ghi chú: Thiết bị streaming sẽ dừng lại sau 5 phút</small>
    <div class="row">
        <div class="col-sm-12">
            <small class="text-info">Thời gian: {{currentTime | date: "MMM dd, HH:mm:ss"}}</small>
        </div>
    </div>

    <!--    <div class="row">-->
    <!--        <div class="col-xs-10">-->
    <!--            <small class="text-truncate">Chọn OK để chuyển sang trang streaming</small>-->
    <!--        </div>-->
    <!--        <div class="col-xs-2 pull-right">-->
    <!--            <a ng-click="liveStream.start()" target="_blank" class="btn btn-sm btn-success pull-right">OK</a>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
