.recorder_master #controls {
    display: flex;
    margin-top: 2rem;
}

.recorder_master button, .recorder_master .btn_recorder {
    flex-grow: 1;
    height: 2.5rem;
    min-width: 2rem;
    border: none;
    border-radius: 0.15rem;
    background: #ed341d;
    margin-left: 2px;
    box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
}

.recorder_master button:hover, .recorder_master button:focus {
    outline: none;
    background: #c72d1c;
}

.recorder_master button::-moz-focus-inner {
    border: 0;
}

.recorder_master button:active {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 3rem;
}

.recorder_master button:disabled {
    pointer-events: none;
    background: lightgray;
}

.recorder_master button:first-child {
    margin-left: 0;
}

.recorder_master audio {
    display: block;
    width: 100%;
    margin-top: 0.2rem;
}

.recorder_master li {
    list-style: none;
    margin-bottom: 1rem;
}

.recorder_master #formats {
    margin-top: 0.5rem;
    font-size: 80%;
}