<div class="modal-header">
    <h3 class="{{!selectedObject ? 'text-info' : 'text-warning'}}">
        {{!selectedObject ? 'Thêm mới OOH' : 'Sửa thông tin OOH'}}
        <a ng-click="modal.close()" class="pull-right close"><i class="fa fa-times-circle"></i></a>
    </h3>
</div>

<div ng-if="!selectedObject">
    <form role="form" name="formCompany" ng-submit="fn.save()">
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.address" required="required" class="form-control"
                           placeholder="Tên OOH" ng-change="fn.changeUnique()"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Khu vực</label>
                <div class="col-sm-8">
                    <select ng-model="newObject.area._id" required="required" class="form-control"
                            ng-options="area._id as area.name for area in areas | orderBy:'name'">
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-4">Kích thước</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.size" required="required" class="form-control"
                           placeholder="Kích thước"/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-4">Tầm nhìn</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.vision" class="form-control"
                           placeholder="Tầm nhìn"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Chiếu sáng</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.light" class="form-control"
                           placeholder="Chiếu sáng"/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-4">Lưu lượng</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.flow" class="form-control"
                           placeholder="Lưu lượng"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Giá tiền</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">{{newObject.packages.name || "1 tháng"}}</span>
                        <input ng-model="newObject.packages.price" required="required" class="form-control" placeholder="Giá tiền"/>
                        <span class="input-group-addon">{{newObject.packages.unit || "VNĐ"}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Chiết khấu</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input ng-model="newObject.discount.default" required="required" class="form-control" placeholder="Chiết khấu"/>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Chiết khấu giới hạn</label>
                <div class="col-sm-8">
                    <div class="form-group row">
                        <label class="control-label col-xs-5">Giá trị</label>
                        <div class="col-xs-7">
                            <div class="input-group">
                                <input ng-model="newObject.discount.value" class="form-control" placeholder="Chiết khấu"/>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-5">Ngày bắt đầu</label>
                        <div class="col-xs-7">
                            <input ng-model="newObject.discount.startDate | date: 'dd-MM-yyyy'"
                                   class="form-control" placeholder="DD-MM-YYYY"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-5">Ngày kết thúc</label>
                        <div class="col-xs-7">
                            <input ng-model="newObject.discount.endDate | date: 'dd-MM-yyyy'"
                                   class="form-control" placeholder="DD-MM-YYYY"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Mô tả</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.description" class="form-control"
                           placeholder="Mô tả"/>
                </div>
            </div>

            <div class="form-group row" ng-if="statusMsg">
                <label class="control-label col-sm-offset-1 col-sm-10 text-danger">Lỗi: </label>
                <div class="col-lg-offset-1 col-sm-11">
                    <h5 class="text-danger">{{statusMsg}}</h5>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="fn.abort()" class="btn btn-warning"><i class="fa fa-reply"></i> Hủy</button>
            <button type="submit" ng-disabled="msg.disable" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </form>
</div>

<div ng-if="selectedObject">
    <form role="form" name="formCompany" ng-submit="fn.update()">
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.address" required="required" class="form-control"
                           placeholder="Tên OOH" ng-change="fn.changeUnique()"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Khu vực</label>
                <div class="col-sm-8">
                    <select ng-model="newObject.area._id" required="required" class="form-control"
                            ng-options="area._id as area.name for area in areas | orderBy:'name'">
                    </select>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-4">Kích thước</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.size" required="required" class="form-control"
                           placeholder="Kích thước"/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-4">Tầm nhìn</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.vision" class="form-control"
                           placeholder="Tầm nhìn"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Chiếu sáng</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.light" class="form-control"
                           placeholder="Chiếu sáng"/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="control-label col-sm-4">Lưu lượng</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.flow" class="form-control"
                           placeholder="Lưu lượng"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Giá tiền</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">{{newObject.packages.name}}</span>
                        <input ng-model="newObject.packages.price" required="required" class="form-control" placeholder="Giá tiền"/>
                        <span class="input-group-addon">{{newObject.packages.unit || "VNĐ"}}</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Chiết khấu chung</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" ng-model="newObject.discount.default" required="required" class="form-control"
                               placeholder="Chiết khấu"/>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Chiết khấu giới hạn</label>
                <div class="col-sm-8">
                    <div class="form-group row">
                        <label class="control-label col-xs-5">Giá trị</label>
                        <div class="col-xs-7">
                            <div class="input-group">
                                <input ng-model="newObject.discount.value" class="form-control" placeholder="Chiết khấu"/>
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-5">Ngày bắt đầu</label>
                        <div class="col-xs-7">
                            <input ng-model="newObject.discount.startDate | date: 'dd-MM-yyyy'"
                                   class="form-control" placeholder="DD-MM-YYYY"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-xs-5">Ngày kết thúc</label>
                        <div class="col-xs-7">
                            <input ng-model="newObject.discount.endDate | date: 'dd-MM-yyyy'"
                                   class="form-control" placeholder="DD-MM-YYYY"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Mô tả</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.description" class="form-control"
                           placeholder="Mô tả"/>
                </div>
            </div>

            <div class="form-group row" ng-if="statusMsg">
                <label class="control-label col-sm-offset-1 col-sm-10 text-danger">Lỗi: </label>
                <div class="col-lg-offset-1 col-sm-11">
                    <h5 class="text-danger">{{statusMsg}}</h5>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="fn.abort()" class="btn btn-warning"><i class="fa fa-reply"></i> Hủy</button>
            <button type="submit" ng-disabled="msg.disable" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </form>
</div>
