<div class="modal-header">
    <h3 class="text-warning"> {{titleModal}}
        <a ng-click="detailModal.close()" class="pull-right close">×</a>
    </h3>
</div>

<div class="modal-body max-80vh">
    <table ng-table="tableParamsModal" show-filter="true" class="table table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <td title="'STT'" title-alt="'STT'" class="td_center">
                <small class="text-info truncate">{{$index + 1}}</small>
            </td>

            <td title="'Mã thiết bị'" sortable="'cpuSerialNumber'" filter="{cpuSerialNumber: 'text'}">
                <small class="text-body truncate">{{row.cpuSerialNumber}}</small>
            </td>

            <td title="'Tên Thiết bị'" sortable="'name'" filter="{name: 'text'}">
                <small class="text-body truncate">{{row.name || row.localName || ''}}</small>
            </td>

            <td title="'Công ty'" sortable="'companyName'" filter="{'companyName': 'text'}">
                <small class="text-body truncate">{{row.companyName}}</small>
            </td>

            <td title="'Số lần phát'" sortable="'times'">
                <small class="text-info truncate">{{row.times}}</small>
            </td>
        </tr>
    </table>
</div>
