<div class="row height100 overflow-auto">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Danh sách tài khoản người dùng
                <div class="btn-toolbar btn-group-sm pull-right">
                    <a ng-click="fn.add()" class="btn btn-primary">
                        <em><i class="fa fa-plus"></i> Thêm mới tài khoản</em>
                    </a>
                </div>
            </h3>
        </div>

        <div class="panel-body">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td title="'STT'" title-alt="'STT'" class="td_center">
                        <small class="text-info truncate">{{$index + 1}}</small>
                    </td>
                    <td title="'Tên người dùng'" sortable="'name'" filter="{name: 'text'}">
                        <small class="text-body truncate">{{row.name}}</small>
                    </td>
                    <td title="'Địa chỉ'" sortable="'address'" filter="{address: 'text'}">
                        <small class="text-body truncate">{{row.address}}</small>
                    </td>
                    <td title="'Email'" sortable="'email'" filter="{email: 'text'}">
                        <small class="text-primary truncate">{{row.email}}</small>
                    </td>
                    <td title="'Số điện thoại'" sortable="'phone'" filter="{phone: 'text'}">
                        <small class="text-body truncate">{{row.phone}}</small>
                    </td>
                    <td title="'Công ty'" sortable="'company.name'" filter="{'company.name': 'text'}">
                        <small class="text-body truncate">
                            {{row.company ? row.company.name : ''}}
                        </small>
                    </td>
                    <td title="'Quyền'" sortable="'role'" filter="{role: 'options'}">
                        <small class="text-primary truncate">
                            {{roleOptions[row.role]}}
                        </small>
                    </td>
                    <td title="'Hành động'" class="td_center">
                        <button ng-click="$event.stopPropagation();fn.edit(row)" class="btn btn-sm btn-warning">
                            <i class="fa fa-edit"></i> Sửa
                        </button>

                        <button ng-click="$event.stopPropagation();fn.delete(row)"
                                style="margin-top: 5px" class="btn btn-sm btn-danger">
                            <i class="fa fa-times-circle"></i> Xóa
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/filters/options.html">
    <form class="form-inline">
        <select ng-options="role.value as role.label for role in roles"
                class="form-control" ng-model="params.filter()['role']">
            <option value="" selected="selected">All</option>
        </select>
    </form>
</script>
