<div ng-if="!fn.editMode" 
    class="panel panel-info" 
    ng-class="playlist.selectedPlaylist? 'main-content-selected-playlist' : ''">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-2">
                <h3 class="panel-title">{{assetConfig.assets.assets.length}} nội dung</h3>
            </div>

            <div class="col-sm-2" ng-if="!assetConfig.assets.playlist">
                <input type="text" placeholder="Lọc" ng-model="filters.valueSearch" class="form-control"/>
            </div>

            <div class="col-sm-3" ng-if="!assetConfig.assets.playlist">
                <span ng-attr-title="Click this button to select, edit and add labels" class="btn-group">
                      <button ng-click="loadCategory()" class="btn btn-info">
                          <i class="fa fa-tags">&nbsp</i><span>{{label.selectedLabel.trunc(10) || "Nhãn"}}</span>
                      </button>

                      <button ng-show="label.selectedLabel" ng-click="label.selectedLabel=null;" class="btn btn-info">
                          <i class="fa fa-close"></i>
                      </button>
                </span>
            </div>

            <div class="col-sm-2 pull-right" ng-if="assetConfig.assets.playlist">
                <a ng-click="exportFile.excel(assetConfig.assets.playlist)" class="btn btn-sm btn-success">
                    <i class="fa fa-file-excel-o"></i> Xuất Excel
                </a>
            </div>

            <div class="col-sm-2 pull-right" ng-if="assetConfig.assets.playlist">
                <a ng-click="exportFile.setCalendar()" class="btn btn-sm btn-success">
                    <i class="fa fa-file-excel-o"></i> Xuất theo lịch phát
                </a>
            </div>

            <div class="col-sm-5">
                <div class="btn-toolbar">
                    <div class="btn-group pull-left col-sm-7" ng-if="!assetConfig.assets.playlist && !assetConfig.assignState">
                        <div dropdown="dropdown" class="dropdown col-sm-6">
                            <button dropdown-toggle="dropdown-toggle" class="btn btn-primary btn-sm dropdown-toggle">
                                <i class="fa fa-plus"></i>&nbsp;Thêm
                            </button>

                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <nodeims-file-upload
                                            onstart="upload.onstart()"
                                            onprogress="upload.onprogress(percentDone)"
                                            onerror="upload.onerror(files, type, msg)"
                                            ondone="upload.ondone(files, data)"
                                    >
                                        Tải lên tập tin
                                    </nodeims-file-upload>
                                </li>

                                <li>
                                    <a ng-click="link.showPopup()" class="btn btn-link btn-block">
                                        Thêm một liên kết
                                    </a>
                                </li>

                                <li>
                                    <a ng-click="link.showPopup('txt')" class="btn btn-link btn-block">
                                        Thêm một tin nhắn
                                    </a>
                                </li>

                                <!--<li>
                                    <a ng-click="configureGCalendar()" class="btn btn-link btn-block">
                                        Add Calendar
                                    </a>
                                </li>-->

                                <li>
                                    <a ng-click="audio.showPopup()" class="btn btn-link btn-block">
                                        Thêm tệp âm thanh
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <a ng-click="fn.edit()" class="btn btn-warning btn-sm">
                                <i class="fa fa-edit"></i> Chỉnh sửa
                            </a>
                        </div>
                    </div>

                    <div ng-hide="!ngDropdown.selectedAssets.length" class="pull-right">
                        <div class="btn-group-xs">

                            <div ng-if="!assetConfig.assignState" ng-dropdown-multiselect="" options="ngDropdown.label.Label.labels"
                                 selected-model="ngDropdown.label.selectedLabels" events="ngDropdown.label.events"
                                 translation-texts="ngDropdown.label.customTexts" extra-settings="ngDropdown.label.extraSettings"
                                 checkboxes="true" class="pull-left dropdown-labels">
                            </div>

                            <a ng-if="assetConfig.assignState" ng-click="ngDropdown.playlist.events.onItemSelect()"
                               class="btn btn-success">
                                <i class="fa fa-lg fa-arrow-circle-right"></i>
                            </a>

                            <a ng-click="ngDropdown.clearCheckboxes()" class="btn btn-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul as-sortable="sortable.options" ng-model="assetConfig.assets.assets" style="min-height:50px;" class="list-group">
        <li ng-show="([file.fileDetails.name] | filter:search).length"
            ng-repeat="file in assetConfig.assets.assets | filter:labelFilter | filter: filters.search"
            as-sortable-item="as-sortable-item"
            ng-class="{&quot;list-group-item-danger&quot;:file.deleted}" style="margin:0px;min-height:70px;"
            class="list-group-item">

            <div as-sortable-item-handle="as-sortable-item-handle" class="row">
                <div class="col-sm-2">
                    <a ng-click="fn.showDetails(file.fileDetails.name)">
                        <img ng-if="file.fileDetails.thumbnail" ng-src="{{file.fileDetails.thumbnail}}"
                             class="media-object img-rounded"/>

                        <!--<img ng-if="file.fileDetails.thumbnail && file.fileDetails.type != 'video'"
                             ng-src="{{file.fileDetails.thumbnail}}" class="media-object img-rounded"/>

                        <div ng-if="file.fileDetails.thumbnail && file.fileDetails.type == 'video'"
                             class="letter-box media-object img-rounded">
                            <span><i class="fa fa-video"></i></span>
                        </div>-->

                        <div ng-if="!file.fileDetails.thumbnail" class="letter-box media-object img-rounded">
                            <span ng-if="file.fileDetails.type == &quot;audio&quot; || file.fileDetails.type == &quot;radio&quot;">
                                <i class="fa fa-music"></i>
                            </span>

                            <span ng-if="file.fileDetails.type != &quot;audio&quot; &amp;&amp; file.fileDetails.type != &quot;radio&quot;">
                                {{file.fileDetails.type.slice(0,1) || 'N'}}
                            </span>
                        </div>
                    </a>
                </div>

                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-5">
                            <small>
                                {{file.fileDetails.name}}
                            </small>
                            <small ng-if="playlist.selectedPlaylist && !assetConfig.assignState">
                                {{file.playlistDetails.side}}; {{file.playlistDetails.bottom}}
                            </small>
                        </div>

                        <div class="col-sm-3">
                            <small ng-if="file.fileDetails.resolution.width" class="text-muted">
                                {{file.fileDetails.resolution.width}}x{{file.fileDetails.resolution.height}}
                            </small>
                        </div>

                        <div ng-if="playlist.selectedPlaylist && !assetConfig.assignState" class="col-sm-3">
                            <small class="text-muted">Thời gian phát: {{file.playlistDetails.duration}} giây</small>
                            <small class="text-muted" ng-if="file.playlistDetails.option.playTime">
                                <br> Số lần phát: {{file.playlistDetails.option.playTime}} lần
                            </small>
                        </div>

                        <div class="col-sm-1 pull-right" ng-if="!assetConfig.assets.playlist">
                            <input type="checkbox" name="checkbox" ng-model="file.selected"
                                   ng-change="ngDropdown.checkbox(file)"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">
                            <small class="text-info">{{file.fileDetails.labels.join(',')}}</small>
                        </div>

                        <div class="col-sm-3">
                            <small class="text-muted">
                                {{file.fileDetails.type}},&nbsp;{{file.fileDetails.size}},&nbsp;
                                {{file.fileDetails.createdAt | date: 'MMM dd'}}
                            </small>
                        </div>

                        <div class="col-sm-4">
                            <button title="{{'Add validity period for the asset'}}" ng-click="scheduleValidity(file)"
                                    class="btn btn-link btn-xs">
                                <i class="fa fa-calendar">&nbsp;</i>

                                <small ng-if="!(file.fileDetails.validity.enable)" style="white-space: normal;">
                                    Thêm thời gian hiệu lực
                                </small>

                                <small ng-if="file.fileDetails.validity.enable" style="white-space: normal;">
                                    {{file.fileDetails.validity.startdate | date:'MMM d':'UTC'}} -
                                    {{file.fileDetails.validity.enddate | date:'MMM d':'UTC'}}
                                </small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <h5 ng-show="!assetConfig.assets.assets.length" class="text-danger" style="padding: 30px 15px;">
            Không có gì để hiển thị, Sử dụng nút 'Thêm' để thêm nội dung hoặc 'Gán nội dung' để gán nội dung cho danh
            sách phát
        </h5>
    </ul>
</div>

<div ng-if="fn.editMode" class="panel panel-danger">
    <div class="panel-heading">
        <div class="panel-title">Đổi tên hoặc xóa tập tin, nhấn Xong khi hoàn thành
            <a ng-click="fn.edit()" class="pull-right"><strong class="text-primary"> Xong</strong></a>
        </div>
    </div>

    <ul class="list-group">
        <li ng-repeat="name in names" class="list-group-item">
            <form name="editform" class="row">
                <div ng-class="editform.$dirty?'':fieldStatus" class="form-group col-xs-10">
                    <div class="input-group col-xs-12">
                        <input type="text" ng-model="name.name" class="form-control"/>
                        <span ng-bind="name.ext" ng-hide="editform.$dirty" class="input-group-addon"></span>

                        <span ng-click="fn.rename($index)" ng-show="editform.$dirty" class="input-group-btn">
                            <a type="button" class="btn btn-success">Lưu</a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-2">
                    <button ng-click="fn.delete($index)" class="btn btn-danger pull-right">
                        <i class="fa fa-times fa-lg"></i>
                    </button>
                </div>
            </form>
        </li>
    </ul>
</div>
