<div autoscroll="false" class="row height100 overflow-hidden">
    <div class="col-sm-3 height100 overflow-auto">
        <div ng-show="authUser.role !== 'checker'" ui-view="left" autoscroll="false"></div>
        <div ng-show="authUser.role === 'checker'" ui-view="left2" autoscroll="false"></div>
    </div>

    <div autoscroll="false" class="height100 overflow-hidden">
        <div ui-view="details" autoscroll="false"></div>
        <div ui-view="list" autoscroll="false"></div>
    </div>
</div>
