<div class="modal-header">
    <!--button.close(ng-click='tickerModal.close()') &times;-->
    <h3 class="text-warning">Hiển thị một tin nhắn văn bản ở phía trước của nội dung hiển thị</h3>
</div>

<div class="modal-body">
    <form name="emsgForm">
        <!--     <div class="row form-group">
              <class="control-label col-sm-3 text-muted text-right">Bật tin nhắn</small>
              <div class="col-sm-9">
                <label>
                  <input type="checkbox" name="emsg_enable" ng-model="group.selectedGroup.emergencyMessage.enable"/>
                </label>
              </div>
            </div> -->
        <div class="row form-group">
            <small class="text-muted control-label col-sm-3 text-right">Tin nhắn</small>
            <div class="col-sm-9">
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" name="emsg_enable"
                               ng-model="group.selectedGroup.emergencyMessage.enable"/>
                        <small>Hiển thị</small>
                    </label>
                </div>
            </div>
        </div>
        <!--.form-group.row(ng-show='group.selectedGroup.emergencyMessage.enable')-->
        <!--    label.text-muted.control-label.col-sm-3.text-right() Horizontal Position-->
        <!--    .col-sm-9-->
        <!--        .radio-inline-->
        <!--            label-->
        <!--                input(type='radio',value='left',name="left",ng-model='group.selectedGroup.emergencyMessage.hPos')-->
        <!--                small() Left-->
        <!--        .radio-inline-->
        <!--            label-->
        <!--                input(type='radio',value='middle',name="hmiddle",ng-model='group.selectedGroup.emergencyMessage.hPos')-->
        <!--                small() Middle-->
        <!--        .radio-inline-->
        <!--            label-->
        <!--                input(type='radio',value='right',name="right",ng-model='group.selectedGroup.emergencyMessage.hPos')-->
        <!--                small() Right-->
        <div ng-show="group.selectedGroup.emergencyMessage.enable" class="form-group row">
            <small class="text-muted control-label col-sm-3 text-right">Vị trí</small>
            <div class="col-sm-9">
                <div class="radio-inline">
                    <label>
                        <input type="radio" value="top" name="top"
                               ng-model="group.selectedGroup.emergencyMessage.vPos"/>
                        <small>Trên cùng</small>
                    </label>
                </div>

                <div class="radio-inline">
                    <label>
                        <input type="radio" value="middle" name="vmiddle"
                               ng-model="group.selectedGroup.emergencyMessage.vPos"/>
                        <small>Chính giữa</small>
                    </label>
                </div>

                <div class="radio-inline">
                    <label>
                        <input type="radio" value="bottom" name="bottom"
                               ng-model="group.selectedGroup.emergencyMessage.vPos"/>
                        <small>Dưới cùng</small>
                    </label>
                </div>
            </div>
        </div>

        <div ng-show="group.selectedGroup.emergencyMessage.enable" class="form-group row">
            <small class="control-label text-muted col-sm-3 text-right">Tin nhắn</small>
            <div class="col-sm-9">
                <input name="ticker_messages" rows="5" ng-model="group.selectedGroup.emergencyMessage.msg"
                       placeholder="Nhập tin nhắn sẽ được hiển thị" class="form-control"/>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" ng-click="emsgModal.close()" class="btn btn-default">Hủy</button>
    <button ng-click="messageSave()" class="btn btn-primary">Lưu</button>
</div>