<div class="modal-header">
    <h3 class="text-warning">Thiết lập
        <a ng-click="settingsModal.close()" class="pull-right close">×</a>
    </h3>
</div>

<div class="modal-body">
    <form role="form" name="player_settings">

        <div class="form-group row" ng-if="['admin'].includes(authUser.role)">
            <label class="control-label col-sm-4">Khách hàng</label>
            <div class="col-sm-8">
<!-- 
                <div ng-dropdown-multiselect="false"
                     options="companies"
                     selected-model="ngDropdown.selectedLabels"
                     events="ngDropdown.events"
                     translation-texts="ngDropdown.customTexts"
                     extra-settings="ngDropdown.extraSettings"
                     ng-change="assignCompany(selectedCompany)"
                     >
                </div> -->

                <select ng-model="newPlayer.company" ng-change="assignCompany(selectedCompany)" class="form-control">
                    <option value="">--</option>
                    <option ng-repeat="company in companies" value="{{company._id}}" ng-selected="{{newPlayer.company === company._id}}">
                        {{company.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Thiết lập wifi</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-8">
                        <select ng-model="objWifi.ssid" ng-change="selectWifi()"
                                ng-options="item for item in listWifi" class="form-control">
                            <option value="">--</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="scanWifi()" class="btn btn-primary btn-sm pull-right w-100">
                            <div ng-if="loadingCanwifi == true" class="spinner"></div>
                            <i ng-if="loadingCanwifi != true" class="fas fa-cog"></i> 
                            Scan WIFI
                        </button>
                    </div>
                </div>

                <div class="row mt-1" ng-if="enableWifi">
                    <div class="col-sm-8">
                        <input type="password" class="form-control" ng-model="objWifi.psk" placeholder="Mật khẩu">
                    </div>
                    <div class="col-sm-4">
                        <button ng-click="setWifi()" class="btn btn-primary btn-sm pull-right w-100">
                            <i class="fas fa-cog"></i> SET WIFI
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group row hidden">
            <label class="control-label col-sm-5">Thiết lập mode màn hình</label>
            <div class="col-sm-2">
                <input type="number" min="0" ng-model="group.selectedGroup.resizeScreen.left" class="form-control"/>
            </div>
            <div class="col-sm-2">
                <input type="number" min="0" ng-model="group.selectedGroup.resizeScreen.left" class="form-control"/>
            </div>
            <div class="col-sm-3">
                <button ng-click="setModeDisplay()" class="btn btn-primary btn-sm pull-right">
                    <i class="fas fa-cog"></i> Cài đặt
                </button>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Nhóm được chọn</label>
            <div class="col-sm-8">
                <select ng-model="newPlayer.group" ng-change="assignGroup()"
                        ng-options="group._id as group.name for group in groups" class="form-control">
                    <option value="">--</option>
                </select>
            </div>
        </div>

        <div ng-show="playerLabels.length" class="form-group row">
            <label class="control-label col-sm-4"> Chọn nhãn</label>

            <div ng-if="playerLabels" class="col-sm-8">
                <div ng-dropdown-multiselect=""
                     options="playerLabels"
                     selected-model="ngDropdown.selectedLabels"
                     events="ngDropdown.events"
                     translation-texts="ngDropdown.customTexts"
                     extra-settings="ngDropdown.extraSettings"
                     checkboxes="true">
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="form-group row">
        <label class="control-label col-sm-7 col-sm-offset-3 text-danger">
            Xóa thiết bị khỏi cơ sở dữ liệu máy chủ
        </label>

        <div class="col-sm-2">
            <button ng-click="deregister()" class="btn btn-danger btn-sm pull-right">Xóa</button>
        </div>
    </div>
</div>
