
<div style="margin-bottom:0px;" class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="text-center" style="color:white">Chọn giao diện hiển thị (mặc định 1)
      <a ng-click="modal.close()" class="pull-right close">×</a>
    </h4>
  </div>
  <div class="panel-body">
    <tabset>
      <tab heading="Bố cục"><i><small>
            Màn hình có thể được chia thành nhiều vùng với mỗi vùng phát nội dung khác nhau. Tập tin video có thể được phát chỉ trong vùng chính. Chọn một tệp trong danh sách phát để phát trong vùng chính, thêm các tệp vùng khác bằng cách nhấp vào nút tập tin vùng. Nếu không có tệp nào được đính kèm vào một vùng cụ thể, nội dung trước đó cho vùng đó sẽ tiếp tục hiển thị.</small></i>
        <ul class="list-group">
          <li ng-repeat="(ltype,item) in layouts" ng-class="{'list-group-item-success':playlist.selectedPlaylist.layout == ltype}" class="list-group-item">
            <div class="row">
              <div dropdown="dropdown" class="col-sm-10 dropdown">
                <div class="radio">
                  <label>
                    <input type="radio" value="{{ltype}}" ng-change="saveLayout()" ng-disabled="item.disabled" ng-model="playlist.selectedPlaylist.layout"/><strong class="text-primary">{{ltype}}: &nbsp;{{item.title}}</strong>
                    <p><small>({{item.description}})</small></p>
                  </label>
                </div>
                <button dropdown-toggle="dropdown-toggle" ng-if="ltype.indexOf('custom') === 0" class="btn btn-sm btn-link dropdown-toggle"><small class="text-muted">Tệp bố trí:&nbsp;</small><small>{{playlist.selectedPlaylist.templateName || "Select a custom_layout*.html file from Assets"}}</small><i class="fa fa-caret-down"></i></button>
                <ul role="menu" ng-if="ltype.indexOf('custom') === 0" class="dropdown-menu">
                  <li ng-repeat="asset in asset.files | filter:customTemplates"><a href="#" ng-click="selectTemplate(asset,ltype)">&nbsp;&nbsp;{{asset}}</a></li>
                </ul>
              </div>
              <div class="col-sm-2"><img height="40px" ng-src="/app/img/{{ltype}}.png"/></div>
            </div>
          </li>
        </ul>
      </tab>
      <tab heading="Cửa sổ video chính">
        <small>Thay đổi kích thước cửa sổ video của vùng chính. Phần này chỉ dành cho người dùng nâng cao!! Thay đổi bất kỳ tham số sẽ ảnh hưởng đến kích thước hiển thị video. Nếu gặp bất kỳ vấn đề nào, chỉ cần nhấp vào 'Khôi phục mặc định'. Các tham số 'Height' và 'Width' xác định kích thước cửa sổ thực tế, 'Off-offset' và 'Top-Offset' xác định vị trí của cửa sổ trên màn hình của bạn.</small>
        <form name="layoutform">
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="videoWindow.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="fullscreen_checkbox" ng-model="videoWindow.mainzoneOnly" ng-true-value="false" ng-false-value="true" ng-checked="videoWindow.mainzoneOnly !== true"/><small class="text-muted pl-5">Sử dụng kích thước FULL SCREEN (cho màn hình tùy chỉnh)</small>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <button ng-click="setVideoWindow(null)" class="btn btn-danger">Khôi phục mặc định</button>
            </div>
            <div class="col-sm-3">
              <button ng-click="setVideoWindow(videoWindow)" ng-disabled="!layoutform.$valid" class="btn btn-info">Lưu thay đổi</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Cửa sổ video bên / dưới">
        <h4>Thay đổi vị trí cửa sổ video cho các khu vực khác</h4><i><small>Phần này chỉ dành cho bố cục tùy chỉnh !! Thay đổi bất kỳ tham số nào cũng sẽ ảnh hưởng đến kích thước hiển thị video ở vùng bên và phía dưới.</small></i>
        <form name="sideZoneForm">
          <div class="alert alert-info text-center">Giá trị vùng bên</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.side.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('side',null)" class="btn btn-danger">Khôi phục mặc định vùng bên</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('side',zoneVideoWindow.side)" ng-disabled="!sideZoneForm.$valid" class="btn btn-info">Lưu thay đổi</button>
            </div>
          </div>
          <hr/>
        </form>
        <form name="bottomZoneForm">
          <div class="alert alert-info text-center">Giá trị vùng dưới</div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Width:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.length" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Height:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.width" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label"><small>Left-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.xoffset" required="" class="form-control"/>
            </div>
            <div class="col-sm-2">
              <label class="control-label"><small>Top-Offset:</small></label>
            </div>
            <div class="col-sm-2">
              <input type="text" ng-model="zoneVideoWindow.bottom.yoffset" required="" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('bottom',null)" class="btn btn-danger">Khôi phục mặc định vùng dưới cùng</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="setZoneVideoWindow('bottom',zoneVideoWindow.bottom)" ng-disabled="!bottomZoneForm.$valid" class="btn btn-info">Lưu thay đổi</button>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
</div>