<div class="modal-header">
    <h4 class="text-warning">Đặt thời gian cho danh sách phát theo lịch</h4>
    <p class="text-info">({{forPlaylist.name}})</p>
</div>

<div class="modal-body">
    <form role="form" name="schedulecal">
        <div class="panel panel-info min-height-0">
            <div class="panel-heading">
                <h4><strong>Lịch trình giữa hai ngày (bao gồm cả hai ngày đó)</strong></h4>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <small>
                                        <input type="checkbox" ng-model="forPlaylist.settings.durationEnable"/>
                                        <p ng-show="!forPlaylist.settings.durationEnable">Lịch trình</p>
                                        <p ng-show="forPlaylist.settings.durationEnable">Bắt đầu</p>
                                    </small>
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <input type="date" ng-model="forPlaylist.settings.startdate"
                                   ng-model-options="{timezone:'UTC'}" ng-show="forPlaylist.settings.durationEnable"
                                   placeholder="Starting on" name="startdate" title="Enter Start Date"
                                   class="form-control input-sm"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <small ng-show="forPlaylist.settings.durationEnable" style="margin-left: 20px">Kết thúc</small>
                        </div>

                        <div class="col-xs-4">
                            <input type="date" ng-model="forPlaylist.settings.enddate"
                                   ng-model-options="{timezone:'UTC'}" ng-show="forPlaylist.settings.durationEnable"
                                   placeholder="Till date" name="enddate" title="Enter End Date"
                                   class="form-control input-sm"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--//.panel.panel-info-->
        <!--    .panel-heading-->
        <!--        h4-->
        <!--            strong Only on Specific Day-->
        <!--            small &nbsp;&nbsp;Schedule on a week day or on a month day-->
        <!--    .panel-body-->
        <!--        .form-group-->
        <!--            .col-xs-2-->
        <!--                label.control-label(for="day") Week Day-->
        <!--            .col-xs-4-->
        <!--                select.form-control(ng-model='forPlaylist.settings.weekday',-->
        <!--                ng-options='weeklist.indexOf(weekday) as weekday for weekday in weeklist',-->
        <!--                title='Enter playing week day')-->
        <!--            .col-xs-2-->
        <!--                label.control-label(for="playDate") Day of Month-->
        <!--            .col-xs-4-->
        <!--                select.form-control(ng-model='forPlaylist.settings.monthday',-->
        <!--                ng-options="dayslist.indexOf(day) as day for day in dayslist",-->
        <!--                title='Enter playing date')-->

        <div class="panel panel-info min-height-0">
            <div class="panel-heading">
                <h4><strong>Lịch trình vào các ngày trong tuần hoặc trong tháng</strong></h4>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="control-label">Ngày trong tuần</small>
                        </div>

                        <div class="col-xs-4">
                            <!--select.form-control(ng-model='forPlaylist.settings.weekdays',-->
                            <!--                    ng-options='weeklist.indexOf(weekday) as weekday for weekday in weeklist',-->
                            <!--                    title='Select playing week days ')-->
                            <div ng-dropdown-multiselect="" options="ngDropdown.weekdays.list"
                                 selected-model="ngDropdown.weekdays.selectedDays" events="ngDropdown.weekdays.events"
                                 translation-texts="ngDropdown.weekdays.customTexts"
                                 extra-settings="ngDropdown.weekdays.extraSettings" checkboxes="true"
                                 class="pull-right"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <small class="control-label">Ngày trong tháng</small>
                        </div>

                        <div class="col-xs-4">
                            <!--select.form-control(ng-model='forPlaylist.settings.monthdays',-->
                            <!--                        ng-options="dayslist.indexOf(day) as day for day in dayslist",-->
                            <!--                        title='Enter playing dates ')-->
                            <div ng-dropdown-multiselect="" options="ngDropdown.monthdays.list"
                                 selected-model="ngDropdown.monthdays.selectedDays" events="ngDropdown.monthdays.events"
                                 translation-texts="ngDropdown.monthdays.customTexts"
                                 extra-settings="ngDropdown.monthdays.extraSettings" checkboxes="true"
                                 class="pull-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info min-height-0">
            <div class="panel-heading">
                <h4><strong>Thời gian cụ thể trong ngày (ví dụ 7AM - 11AM)</strong></h4>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <small>
                                        <input type="checkbox" ng-model="forPlaylist.settings.timeEnable"/>
                                        <p ng-show="!forPlaylist.settings.timeEnable">Lịch</p>
                                        <p ng-show="forPlaylist.settings.timeEnable">Bắt đầu</p>
                                    </small>
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <input type="time" ng-show="forPlaylist.settings.timeEnable"
                                   ng-model="forPlaylist.settings.starttimeObj" name="starttime"
                                   title="Enter Start Time" class="form-control"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <small ng-show="forPlaylist.settings.timeEnable" style="margin-left: 20px">Kết thúc</small>
                        </div>

                        <div class="col-xs-4">
                            <input type="time" ng-show="forPlaylist.settings.timeEnable"
                                   ng-model="forPlaylist.settings.endtimeObj" name="endtime" title="Enter End Time"
                                   class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <!--button.btn(ng-click="scheduleCalendarModal.close()") Cancel-->
    <button ng-click="saveSchedules(schedulecal)" class="btn btn-primary">OK</button>
</div>