<div class="modal-header">
    <h4>
        <span class="text-warning">
            {{msg.player.statusClass == "text-danger" ? "Thiết bị '" + msg.playerName + "' đang OFFLINE" : "Giám sát thiết bị '" + msg.playerName + "'"}}
        </span>

        <span class="pull-right btn-group">
            <a ng-click="modalShell.dismiss()" class="pull-right close">×</a>
        </span>
    </h4>
</div>

<div class="modal-body">
    <label ng-if="confirmmsg" class="text-danger">{{confirmmsg}}</label>

    <form name="shellform" ng-submit="execute()">
        <div class="form-group">
            <div class="input-group col-xs-12">
                <input type="text" ng-model="msg.cmd" ng-keydown="getOldEntry($event)" class="form-control"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">Thực hiện</button>
                </span>
            </div>

            <small>
                <i class="text-success">
                    Sử dụng phím &nbsp &#8593; &nbsp và &nbsp &#8595; &nbsp để kiểm tra lịch sử Lệnh
                </i>
            </small>
        </div>
    </form>

    <div class="alert alert-info">
        <pre ng-if="msg.err"><small class="text-danger">{{msg.err}}</small></pre>
        <pre ng-if="msg.stdout"><small class="text-info">stdout: {{msg.stdout}}</small></pre>
        <pre ng-if="msg.stderr"><small class="text-warning">stderr: {{msg.stderr}}</small></pre>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="#" ng-click="getSnapshot()" class="thumbnail">
                <img ng-src="{{snapshot.image}}" err-src="/app/img/snapshot.png" ng-class="snapshot.cssClass"/>
                <small>Chụp gần nhất: {{snapshot.lastTaken | date: "MMM dd, hh:mm a"}}</small>
                <button class="btn btn-block btn-success">{{snapshot.buttonTxt}}</button>
            </a>
        </div>
    </div>

    <button ng-class="msg.player.tvStatus? 'btn-primary':'btn-default'" ng-click="changeTvState(false)"
            class="btn btn-sm">Tv On
    </button>

    <button ng-class="!msg.player.tvStatus? 'btn-primary':'btn-default'" ng-click="changeTvState(true)"
            class="btn btn-sm">Tv OFF
    </button>

    <button ng-click="eventSigusr(msg.player)" class="btn btn-sm btn-warning">SIGUSR2</button>
    <button ng-click="eventReboot(msg.player)" class="btn btn-sm btn-danger pull-right">REBOOT</button>
</div>
<!--.modal-footer
<button ng-click="modalShell.dismiss()" class="btn btn-warning">Dismiss</button>
-->