<div class="container-login100" style="background-image: url('app/images/bg-01.jpg');">
    <div class="container">
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img src="app/img/pisignage-logo.png" alt="Pisignage logo">
                    </a>
                </div>

                <div class="login-form">
                    <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
                            <label>Username</label>
                            <input class="au-input au-input--full form-control" type="email" name="email"
                                   placeholder="Username" ng-model="vm.email" required/>

                            <div class="help-block {{!form.$submitted || !form.email.$error.required ? 'hidden' : ''}}">
                                <div ng-message="required">Email is required</div>
                            </div>

                            <div class="help-block {{!form.$submitted || !form.email.$error.email ? 'hidden' : ''}}">
                                <div ng-message="required">Email invalid</div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                            <label>Password</label>
                            <input class="au-input au-input--full form-control" type="password" name="password"
                                   placeholder="Password" ng-model="vm.password" required/>

                            <div class="help-block {{!form.$submitted || !form.password.$error.required ? 'hidden' : ''}}">
                                <div ng-message="required">Password is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="au-btn au-btn--block au-btn--green m-b-20" ng-disabled="vm.loading">
                                sign in
                            </button>
                            <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </div>

                        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
