<div class="modal-header">
    <h3 class="{{!selectedObject ? 'text-info' : 'text-warning'}}">
        {{!selectedObject ? 'Thêm mới khách hàng' : 'Sửa thông tin khách hàng'}}
        <a ng-click="modal.close()" class="pull-right close"><i class="fa fa-times-circle"></i></a>
    </h3>
</div>

<div ng-if="!selectedObject">
    <form role="form" name="formCompany" ng-submit="fn.save()">
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-4">Tên công ty</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.name" required="required" class="form-control"
                           placeholder="Tên công ty" ng-change="fn.changeUnique()"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.address" required="required" class="form-control"
                           placeholder="Địa chỉ công ty"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.phone" required="required" class="form-control"
                           placeholder="Số điện thoại"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.email" required="required" class="form-control"
                           placeholder="Email"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Mô tả</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.description" class="form-control" placeholder="Mô tả"/>
                </div>
            </div>

            <div class="form-group row" ng-if="statusMsg">
                <label class="control-label col-sm-offset-1 col-sm-10 text-danger">Lỗi: </label>
                <div class="col-lg-offset-1 col-sm-11">
                    <h5 class="text-danger">{{statusMsg}}</h5>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="fn.abort()" class="btn btn-warning"><i class="fa fa-reply"></i> Hủy</button>
            <button type="submit" ng-disabled="msg.disable" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </form>
</div>

<div ng-if="selectedObject">
    <form role="form" name="formCompany" ng-submit="fn.update()">
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-4">Tên công ty</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.name" required="required" class="form-control"
                           placeholder="Tên công ty" ng-change="fn.changeUnique()"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.address" required="required" class="form-control"
                           placeholder="Địa chỉ công ty"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.phone" required="required" class="form-control"
                           placeholder="Số điện thoại"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.email" required="required" class="form-control"
                           placeholder="Email"/>
                </div>
            </div>


            <div class="form-group row">
                <label class="control-label col-sm-4">Mô tả</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newObject.description" class="form-control" placeholder="Mô tả"/>
                </div>
            </div>

            <div class="form-group row" ng-if="statusMsg">
                <label class="control-label col-sm-offset-1 col-sm-10 text-danger">Lỗi: </label>
                <div class="col-lg-offset-1 col-sm-11">
                    <h5 class="text-danger">{{statusMsg}}</h5>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="fn.abort()" class="btn btn-warning"><i class="fa fa-reply"></i> Hủy</button>
            <button type="submit" ng-disabled="msg.disable" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </form>
</div>
