<div class="modal-header">
    <h3 class="{{!selectedUser ? 'text-info' : 'text-warning'}}">
        {{!selectedUser ? 'Thêm mới tài khoản' : 'Sửa thông tin tài khoản'}}
        <a ng-click="modal.close()" class="pull-right close"><i class="fa fa-times-circle"></i></a>
    </h3>
</div>

<div ng-if="!selectedUser">
    <form role="form" name="formUser" ng-submit="fn.save()">
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-4">Tên người dùng</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.name" required="required" class="form-control"
                           placeholder="Tên người dùng"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.address" required="required" class="form-control"
                           placeholder="Địa chỉ" />
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.email" required="required" class="form-control"
                           placeholder="Địa chỉ email" ng-change="fn.changeEmail()"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.phone" required="required" class="form-control"
                           placeholder="Số điện thoại" />
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Mật khẩu</label>
                <div class="col-sm-8">
                    <input type="password" ng-model="newUser.password" min="6" required="required" class="form-control"
                           placeholder=""/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Xác thực mật khẩu</label>
                <div class="col-sm-8">
                    <input type="password" ng-model="newUser.confirmPassword" min="6" required="required" class="form-control"
                           placeholder=""/>
                </div>
            </div>

            <div class="form-group row" ng-if="statusMsg">
                <label class="control-label col-sm-offset-1 col-sm-10 text-danger">Lỗi: </label>
                <div class="col-lg-offset-1 col-sm-11">
                    <h5 class="text-danger">{{statusMsg}}</h5>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="fn.abort()" class="btn btn-warning"><i class="fa fa-reply"></i> Hủy</button>
            <button type="submit" ng-disabled="msg.disable" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </form>
</div>

<div ng-if="selectedUser">
    <form role="form" name="formUser" ng-submit="fn.update()">
        <div class="modal-body">
            <div class="form-group row">
                <label class="control-label col-sm-4">Tên người dùng</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.name" required="required" class="form-control"
                           placeholder="Tên người dùng"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Địa chỉ</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.address" required="required" class="form-control"
                           placeholder="Địa chỉ" />
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Email</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.email" required="required" class="form-control"
                           placeholder="Địa chỉ email" ng-change="fn.changeEmail()"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-4">Số điện thoại</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newUser.phone" required="required" class="form-control"
                           placeholder="Số điện thoại" />
                </div>
            </div>

            <div class="form-group row" ng-if="statusMsg">
                <label class="control-label col-sm-offset-1 col-sm-10 text-danger">Lỗi: </label>
                <div class="col-lg-offset-1 col-sm-11">
                    <h5 class="text-danger">{{statusMsg}}</h5>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-click="fn.abort()" class="btn btn-warning"><i class="fa fa-reply"></i> Hủy</button>
            <button type="submit" ng-disabled="msg.disable" class="btn btn-primary">
                <i class="fa fa-save"></i> Lưu
            </button>
        </div>
    </form>
</div>
