<div class="row height100 overflow-auto">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title flex-content">
                <span class="flex-item-vertial">Danh sách thiết bị</span>
            </h3>
        </div>

        <div class="panel-body">
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td title="'STT'" title-alt="'STT'" class="td_center">
                        <small class="text-info truncate">{{$index + 1}}</small>
                    </td>

                    <td title="'Tên thiết bị'" sortable="'name'" filter="{name: 'text'}">
                        <small class="text-body truncate">
                            {{row.name || row.localName || "No name"}}
                            <p>
                                <small class="text-info">{{row.cpuSerialNumber}}</small>
                            </p>
                        </small>
                    </td>

                    <td title="'Địa chỉ'" sortable="'myIpAddress'" filter="{myIpAddress: 'text'}">
                        <small class="text-info truncate">{{row.myIpAddress}}</small>
                    </td>

                    <td title="'Trạng thái'" sortable="'isConnected'" filter="{isConnected: 'statusBoolean'}"
                        class="td_center">
                        <small>
                            <i ng-class="row.status.class"
                               title="{{row.status.title}}"
                               class="fa fa-circle fa-lg">
                            </i>
                        </small>
                    </td>

                    <td title="'Công ty'" sortable="'company.name'" filter="{'company.name': 'text'}">
                        <small class="text-body truncate">{{row.company ? row.company.name : ''}}</small>
                    </td>

                    <td title="'Nội dung đang phát'" sortable="'currentPlaylist'" filter="{currentPlaylist: 'text'}">
                        <small class="text-body truncate">
                            {{row.group ? row.group.name : ''}}
                            <p>
                                <small class="text-info">{{row.currentPlaylist}}</small>
                            </p>

                        </small>
                    </td>

                    <td title="'Thời gian hoạt động'" class="td_center">
                        <p>
                            <small class="truncate" ng-class="row.classReport" style="font-size: small">
                                Last seen: {{row.lastReported ? (row.lastReported | timeAgo) : "never"}}
                            </small>
                        </p>
                        <p>
                            <small class="text-danger truncate" style="font-size: small">
                                Last sync: {{row.lastUpload ? (row.lastUpload | timeAgo) : "never"}}
                            </small>
                        </p>
                    </td>

                    <td title="'Actions'" class="td_center">
                        <button ng-if="row.isConnected" class="btn btn-default btn-xs"
                                ng-click="fnSetting(row)">
                            <i class="fa fa-cog text-warning"></i> Settings
                        </button>

                        <button ng-if="row.isConnected && !streamPlayers[row.cpuSerialNumber]" class="btn btn-success btn-xs"
                                ng-click="liveStream.join(row)" style="margin-top: 5px" >
                            <i class="fa fa-video-camera"></i> Live stream
                        </button>

                        <button ng-if="row.isConnected && !streamPlayers[row.cpuSerialNumber]" class="btn btn-success btn-xs"
                                ng-click="liveStream.join(row, 'audio')" style="margin-top: 5px">
                            <i class="fa fa-video-camera"></i> Live Audio
                        </button>

                        <button ng-if="row.isConnected && streamPlayers[row.cpuSerialNumber]" class="btn btn-warning btn-xs"
                                ng-click="liveStream.stop(row)" style="margin-top: 5px">
                            <i class="fa fa-video-camera"></i> Stop stream
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ng-table/filters/statusBoolean.html">
    <form class="form-inline">
        <select class="form-control" ng-model="params.filter()['isConnected']">
            <option value="">All</option>
            <option value="true">Online</option>
            <option value="false">Offline</option>
        </select>
    </form>
</script>
