<div class="modal-header">
    <h3 class="text-warning">
        <span ng-if="titleExport">{{titleExport}}</span>
        <span ng-if="!titleExport">Xuất file theo lịch phát</span>
        <a ng-click="exportFile.closeModal()" class="pull-right close">×</a>
    </h3>
</div>

<div class="modal-body">
    <form role="form" name="formExport">

        <div class="form-group row">
            <label class="control-label col-sm-4">Thời gian bắt đầu</label>
            <div class="col-sm-8">
                <input type="date" ng-model="exportParams.start" class="form-control"
                       ng-change="exportFile.changeValue()"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-4">Thời gian kết thúc</label>
            <div class="col-sm-8">
                <input type="date" ng-model="exportParams.end" class="form-control"
                       ng-change="exportFile.changeValue()"/>
            </div>
        </div>

        <div ng-if="isHistory" class="form-group row">
            <label class="control-label col-sm-4">Tên nội dung</label>
            <div class="col-sm-8">
                <select ng-model="exportParams.filename" required="required" class="form-control"
                        ng-options="item.filename for item in contentNames | orderBy:'filename'">
                    <option value="">--</option>
                </select>
            </div>
        </div>

        <div class="form-group row" ng-if="exportParams.errorMsg">
            <label class="control-label col-sm-12 text-danger">{{exportParams.errorMsg}}</label>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="pull-right">
        <button ng-click="exportFile.excel()"
                class="btn btn-success btn-sm">
            <i class="fa fa-file-excel-o"></i> Xuất Excel
        </button>
    </div>
</div>
